<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enjoylearning.mybatis.mapper.TAccountMapper">
	<resultMap id="BaseMap" type="com.enjoylearning.mybatis.entity.TAccount"   >
		<id property="id" column="id" />
		<result property="money" column="money" />
	</resultMap>
<select id="selectByPrimaryKey" resultMap="BaseMap" parameterType="java.lang.Integer">
	select id, money from t_account where id = #{id}
</select>

</mapper>